/*
body {
  padding: 2em 0 0 0;
}*/

/*nav links*/
.nav-links {
  text-align: center;
}
.nav-links li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3em;
  display: inline-block;
  text-decoration: none;
}

/*index page headline*/
.headline {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 10em;
  left: 0;
}

.headline h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #28C2FF;
  text-shadow: 2px 2px 8px black;
  font-size: 5em;
}

.headline p {
 font-family: 'Yanone Kaffeesatz', sans-serif;
 font-size: 4em;
 color: #28C2FF;
 text-shadow: 1px 1px 3px black;

}

.overlay {
  position: absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-color: rgba(255, 255, 255, .5);
}

 /*beach section */
.beach-section {
  width: 100%;
  height: 500px;
}

.beach-img {
  background-image: url("../img/index-bg.jpg");
  display: inline-block;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

 /*about section*/
.about-section {
  margin: 5em;
}

.about-section h3 {
  text-align: center;
  margin: 0 0 1em 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

/*experience section */
.experience-section {
  width: 100%;
  height: 500px;
  display: block;
  background: -webkit-linear-gradient(90deg, rgba(40, 194, 255, 1), rgba(232, 247, 255, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, rgba(40, 194, 255, 1), rgba(247, 247, 255, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, rgba(40, 194, 255, 1), rgba(247, 247, 255, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, rgba(40, 194, 255, 1), rgba(71, 68, 72, .7)); /* Standard syntax */
}



/*orbit for projects*/
.project-orbit {
  margin: 5em 10em 0 10em;
}
.docs-example-orbit-slide {
  padding: 2rem 4rem;
  color: #fefefe;
}
.orbit-slide:nth-of-type(1) .docs-example-orbit-slide {
  background: dodgerblue;
}
.orbit-slide:nth-of-type(2) .docs-example-orbit-slide {
  background: rebeccapurple;
}
.orbit-slide:nth-of-type(3) .docs-example-orbit-slide {
  background: darkgoldenrod;
}
.orbit-slide:nth-of-type(4) .docs-example-orbit-slide {
  background: lightseagreen;
}
