/*navbar*/
.navbar {
  background-color: white;
}

.navbar-nav li {
  font-family: 'Assistant';
  font-size: 1.5rem;
  padding-left: 1em;
  font-weight: 200;
}
.navbar-nav a {
  color: black;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: black;
}

/*beach section */
.headline {
  font-family: 'Corben';
  position: relative;
  width: 100%;
  top: 8em;
}
.headline h3 {
  color: white;
  text-shadow: 2px 2px 8px black;
  font-size: 3em;
}

.headline p {
 font-size: 3em;
 color: white;
 text-shadow: 2px 2px 8px black;
}

.beach-section {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 4%;
}



 /*about section*/
 .about-block {
   display: block;
   width: 100%;
   background-color: #F0F1F2;
   padding: 5em 0;
 }
 .about-block .col-md-6 {
   padding-top: 1em;
 }
.about-section {
  font-family: 'Assistant', sans-serif;
  font-size: 1.5em;
  padding: 1em;
  color: #4E4C4E;
  text-align: center;
  font-weight: 200;
}
.about-section h3 {
  text-align: center;
  margin: 0 0 .5em 0;
  font-family: 'Assistant';
  font-size: 1.8em;
  font-weight: 700;
}
.hobby-section {
  text-align: center;
}
.hobby-section ul {
  padding-left: 0;
}
.hobby-section li {
  list-style: none;
}



/*experience section */
.experience-section {
  width: 100%;
  height: auto;
  display: block;
}

.experience-section h2 {
  margin-bottom: 1em;
}
.experience-section h1 {
  font-size: 2.8em;
  color: black;
  text-align: center;
  font-family: 'Assistant';
  font-weight: 700;
}

.experience-section .container {
  padding-top: 4em;
}

.card {
  text-align: center;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.card-block h2 {
  font-family: 'Assistant';
  color: black;
  font-weight: 200;
  /*text-shadow: 2px 2px 14px black;*/
}

.icon {
  margin: 2em auto;
  width: 40%;
}

/*orbit for projects*/
.project-section{
  background-color: #F0F1F2;
  padding-bottom: 5%;
  overflow: hidden;
}
.project-container {
  padding-bottom: 1em;
}
.project-section h1 {
  color: #4E4C4E;
  padding: 1em 0 1em 0;
  text-align: center;
  font-family: 'Assistant', cursive;
  font-weight: 700;
  font-size: 2.8em;
}
.project{
  position: relative;
}


.gif {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 0, 0, .6);
}
.modal{
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  overflow: scroll;
}
.slick-prev:before, .slick-next:before {
  color: black;
}

.details {
  color: white;
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 1em 0;
  font-size: 1.5em;
}

.details ul {
  list-style: none;
  padding: 0;
}
.details h1 {
  color: white;
  padding: 3% 0 0 0;
  font-size: 1.5em;
}
.details h5 {
  font-size: .6em;
}
.details a {
  /*font-size: 1em;*/
}

.details hr {
  width: 40%;
  background: white;
}

.details a:hover {
  border: 1px solid white;
  background: transparent;
}

/*contact section*/
.contact-section {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  padding: 3em;
}

.contact-section h3 {
  font-family: 'Assistant', sans-serif;
  color: black;
}
.icons {
  text-align: right;
}
.icons img {
  max-width: 100%;
}
.icons a {
  padding: .5em;
  max-width: 50%;
}
.icon-border img {
  border-radius: 11px;
}


/*media queries*/
@media(max-width:500px) {
  .headline p {
    font-size: 1.6em;
  }
}
@media(max-width:575px) {
  .icons { text-align: center;}
  .contact-section .row {
    text-align: center;
  }
}
@media(min-width:1440px) {
  /*.details h1 {
    font-size: 60px;
  }
  .details {
    font-size: 40px;
  }*/
}
